{% extends "main/index.html" %}
{% block content %}
<style type="text/css">

    .layer-popup {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 100;
    }

    .layer-popup.show {
      display: block;
    }

    .modal-dialog {
      width: 300px auto;
      margin: 40px auto;
      background-color: #fff;
    }

    .modal-content {
      padding:10px 15px auto;
      line-height: 100px auto;
    }
</style>

<script>
    // 외부영역 클릭 시 팝업 닫기
    $(document).mouseup(function (e){
        $('#layer-popup').hide();
    });

  document.addEventListener('DOMContentLoaded', function() {
    var initialLocaleCode = 'kr';
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',

      headerToolbar: {
        start: "",
        center: "prev title next",
        end: "today",
      },

      locale: initialLocaleCode,


      //높이설정
      contentHeight: 600,
      fixedWeekCount: false,
      showNonCurrentDates: true,
      eventColor : '#eeeeee',



      events: {
        url: "http://localhost:8000/craw_list_db",
        method: "GET",
        failure: function () {
          alert("이벤트를 못가져왔습니다");
        },
      }
      , eventClick: function(info) {
        var eventObj = info.event;
        $("#title").text(eventObj.title);
        $("#lname").text(eventObj.extendedProps.lname);
        $("#con").text(eventObj.extendedProps.con);
        $('#layer-popup').show();
      }
    });
    calendar.render();
  });

</script>
<div id='calendar'></div>
<div class="container">
  <div class="layer-popup" id="layer-popup">
    <div class="modal-dialog">
      <div class="modal-content">
        <table data-toggle="table" class="table table-bordered">
          <thead>
            <tr>
              <th id="title">강의명</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td id="lname">과제명</td>

            </tr>
            <tr>
              <td id="con">내용</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
{% endblock %}