<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container my-3">
    <form method="post" class="post-form" action="{% url 'main:list' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="userid" id="userid">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
</body>
</html>